test.json
test-character*
*.npy
*.npz
*.lib
*.backup
!glew32.lib
*.o
*.so
*.a
*.egg-info
*.exp

*.dat
*.log

pyenv/
virenv
ModifyODESrcBackup

.idea

VclSimuBackend/Samcon/OptimalGait/opt_result
*.pyc
*.pyd
*__pycache__

./feiqi
discarded
ODESim/discarded
Server/discarded

Tests/entrance/TestPyMotionLib
Tests/entrance/MPITutorial

.vscode/
.vs/


*.data
ThirdParty/eigen-3.3.8/out/build/*
build/*

!/meshtest/ObjectModel/Dining/*.obj
!/meshtest/ObjectModel/Primitive/*.obj


*.mp4
test/
__opencmd.cmd
*.ckpt
*.gif

RelWithDebInfo